<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890591292296-bt6vbdmprt756ftladciii13lrd91ort.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890591292296-bt6vbdmprt756ftladciii13lrd91ort</string>
	<key>API_KEY</key>
	<string>AIzaSyBHZuRbqELvv2ZynnE70T4kygj8KmvRe3o</string>
	<key>GCM_SENDER_ID</key>
	<string>890591292296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexhamnetwork.truthordare</string>
	<key>PROJECT_ID</key>
	<string>truth-or-dare-7efa6</string>
	<key>STORAGE_BUCKET</key>
	<string>truth-or-dare-7efa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890591292296:ios:234c4e3377e19c1e9b283d</string>
	<key>DATABASE_URL</key>
	<string>https://truth-or-dare-7efa6.firebaseio.com</string>
</dict>
</plist>